<!DOCTYPE html>

{% load static %}

<!-- start of the top navbar links -->
<div class="container-fluid mx-0 px-0" id="navbarTop">
  <div class="row px-0 mx-0 py-2 d-flex justify-content-between">
    <div class="col-2 px-0 mx-0">
    </div>
    <div class="col-8 px-0 mx-0 d-flex justify-content-center">
      <a href="https://www.youtube.com/channel/UC3w14ld4eqhtwZM4W1LMTFQ" target="_blank" class="mx-4 small text-dark text-decoration-none">YOUTUBE</a>
      <a href="https://www.facebook.com/1ou2cocktails/" target="_blank" class="mx-4 small text-dark text-decoration-none">FACEBOOK</a>
      <a href="https://www.instagram.com/1ou2cocktails/" target="_blank" class="mx-4 small text-dark text-decoration-none">INSTAGRAM</a>
      <a href="https://www.pinterest.com/1ou2Cocktails/" target="_blank" class="mx-4 small text-dark text-decoration-none">PINTEREST</a>
    </div>
    <div class="col-2 px-0 mx-0 d-flex justify-content-center">
      <p class="fw-light">NEW - LIQUID LOVE</p>
    </div>
  </div>
</div>
<!-- end of the top navbar links -->
<!-- start of the navbar -->
<nav class="navbar navbar-expand-lg bg-white">
  <div class="container-fluid margBot">
    <!-- hamburger menu button on small screen -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- logo n small screen -->
    <div class="d-flex justify-content-center" id="logoNavbar2">
      <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'media/logo.png' %}" alt="logo" /></a>
    </div>
    <!-- search icon on small screen -->
    <div class="d-flex justify-content-end" id="searchNavbar2">
      <form class="d-flex" role="search" method="GET" action="{% url 'search' %}" >
        <a class="linkStyle ms-5" href="#" data-bs-toggle="dropdown"><i class="fa-solid fa-magnifying-glass me-2"></i></a>
        <div class="dropdown-menu megamenu" role="menu" id="searchMenu2">
          <div class="row">
            <div class="col-12">
              <input
                  class="form-control w-100 h-100 border-0"
                  type="search"
                  placeholder="Search"
                  aria-label="Search"
                  name="searchBar"
                  id="searchBar"
                  required="required"
                />
            </div>
          </div>
        </div>
        <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
              <button class="btn btn-outline-success" type="submit">Search</button> -->
      </form>
    </div>
    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
      <div class="col-4" id="menuNavbar">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item dropdown has-megamenu me-4">
            <a class="nav-link dropdown-toggle py-0 text-dark" href="#" data-bs-toggle="dropdown">RECEIPTS</a>
            <div class="dropdown-menu megamenu" role="menu" id="recipesMenu">
              <div class="row">
                <div class="col-6">
                  <div class="row">
                    <div class="col-12 col-lg-6">
                      <a href="{% url 'cocktails' %}"><img src="{% static 'media/drink_menu.jpg' %}" alt="drink_menu" class="w-100 object-cover" /></a>
                    </div>
                    <div class="hide col-lg-6">
                      <ul class="h-100 d-flex flex-column align-items-start">
                        {% for alcohol in unique_alcohols %}
                        <a href="{% url 'search' %}?searchBar={{ alcohol }}" class="linkStyle">{{ alcohol }}</a>
                        <hr class="w-100" />
                        {% endfor %}
                        <a href="{% url 'cocktails' %}" class="linkStyle fw-bold">All recipes</a>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="row">
                    <div class="col-12 col-lg-6">
                      <a href="{% url 'foods' %}"><img src="{% static 'media/food_menu.jpg' %}" alt="food_menu" class="w-100 object-cover" /></a>
                    </div>
                    <div class="hide col-lg-6">
                      <ul class="h-100 d-flex flex-column align-items-start">
                        {% for food in unique_food %}
                        <a href="{% url 'search' %}?searchBar={{ food }}" class="linkStyle">{{ food }}</a>
                        <hr class="w-100" />
                        {% endfor %}
                        <a href="{% url 'foods' %}" class="linkStyle fw-bold">All recipes</a>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- dropdown-mega-menu.// -->
          </li>
          <li class="nav-item me-4">
            <a class="active linkStyle mx-0 py-0" aria-current="page" href="{% url 'articles'%}">TO READ</a>
          </li>
          <li class="nav-item me-4">
            <a class="linkStyle py-0" href="{% url 'videos' %}">VIDEOS</a>
          </li>
          <li class="nav-item" id="shopNavbar">
            <a href="{% url 'book' name='Drink Quebec'%}" class="linkStyle"><i class="fa-brands fa-shopify me-2"></i>DRINK QUEBEC</a>
          </li>
        </ul>
      </div>
      <div class="col-4 d-flex justify-content-center" id="logoNavbar1">
        <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'media/logo.png' %}" alt="logo" /></a>
      </div>
      <div class="col-4 d-flex justify-content-end" id="searchNavbar1">
        <form class="d-flex" role="search" method="GET" action="{% url 'search' %}" >
          <a href="{% url 'book' name='Drink Quebec'%}" class="linkStyle"><i class="fa-brands fa-shopify me-2"></i>DRINK QUEBEC</a>
          <a class="linkStyle ms-5" href="#" data-bs-toggle="dropdown"><i class="fa-solid fa-magnifying-glass me-2"></i>RESEARCH</a>
          <div class="dropdown-menu megamenu py-0" role="menu" id="searchMenu1">
            <div class="row">
              <div class="col-12 d-flex justify-content-center">
                <input
                  class="form-control w-100 h-100 border-0"
                  type="search"
                  placeholder="Search"
                  aria-label="Search"
                  name="searchBar"
                  id="searchBar"
                  required="required"
                />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</nav>
<!-- end of the navbar -->
